<% if obj.errors.any? %>
    <div class="row">
      <div class="col s12">
        <div class="card-panel red lighten-2">
          <span class="white-text">
            <b>Não foi possível executar esta ação devido: </b>
            <ul>
              <% obj.errors.full_messages.each do |msg| %>
                <li>- <%= msg %></li>
              <% end %>
            </ul>
          </span>
        </div>
      </div>
    </div>
<% end %>