<% if obj.errors.any? %>
    <div class="row">
      <div class="col s12">
        <div class="card-panel red lighten-2">
          <span class="white-text">
            <strong><%= pluralize(obj.errors.count, "erro") %></strong>
            proibiram essa ação de ser exercutada:
            <ul>
              <% obj.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </span>
        </div>
      </div>
    </div>
<% end %>