@import "materialize";

html {
    font-family: 'Roboto';
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
  
ul li a {
    //color: red;
    font-weght: bold;
}

.dropdown-content li a {
    color: white;
    font-weght: bold;
}

.tamanho-logo {
    font-size: 150%;
    font-weght: bold;
}

#signup-page {
    width: 500px;
   
}

.icon_style{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer; 
}

.alert {
    @extend .card-panel, .lighten-4, .text-darken-4;

    &.alert-success {
        @extend .green, .green-text;
    }

    &.alert-info {
        @extend .blue, .blue-text;
    }

    &.alert-warning {
        @extend .yellow, .yellow-text;
    }

    &.alert-danger {
        @extend .red, .red-text;
    }

    .close-alert {
        -webkit-appearance: none;
        border: 0;
        cursor: pointer;
        color: inherit;
        background: 0 0;
        font-size: 22px;
        line-height: 1;
        font-weight: bold;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
        filter: alpha(opacity=40);
        margin-bottom: -5px;
        position: relative;
        top: 2px;
        right: 5px;
    }
}

.user-show-page {
    font-size: 150%;
    margin-top: 20px;
}

.user-show-page label {
    font-weight: bold;
    font-size: 100%;
}

hr {
    border: 0;
    border: 5px solid red;
    margin-bottom: 0px;
    margin-left: 11px;
    margin-right: 11px;
}

.modal-hr {
    border: 0;
    border: 2px solid red;
    margin-bottom: 0px;
}

.modal { 
    width: 50% !important; 
    max-height: 100% !important; 
}

.modal .modal-footer {
    padding: 4px 0px !important;
}

textarea#description_area {
  height: 100px;
}

textarea#address_area {
  height: 100px;
}

.tabs .tab a {
  color: black;
  /*Custom Text Color*/
}

.tabs .tab a:hover {
  color: red;
  /*Custom Color On Hover*/
}

.tabs .tab a:focus.active {
  color: white;
  /*Custom Text Color While Active*/
  background-color: red;
  /*Custom Background Color While Active*/
}

.tabs .indicator {
  background-color: red;
  /*Custom Color Of Indicator*/
}

.linha-username {
    border: 0;
    border: 5px solid #CCC;
}

tab1 { padding-left: 4em; }
tab2 { padding-left: 8em; }
tab3 { padding-left: 12em; }
tab4 { padding-left: 16em; }
tab5 { padding-left: 20em; }
tab6 { padding-left: 24em; }
tab7 { padding-left: 28em; }
tab8 { padding-left: 32em; }
tab9 { padding-left: 36em; }
tab10 { padding-left: 40em; }
tab11 { padding-left: 44em; }
tab12 { padding-left: 48em; }
tab13 { padding-left: 52em; }
tab14 { padding-left: 56em; }
tab15 { padding-left: 60em; }
tab16 { padding-left: 64em; }

input[type="text"] + label {
    pointer-events: none;

    * {
        pointer-events: all;
    }
}

input[type="number"] + label {
    pointer-events: none;

    * {
        pointer-events: all;
    }
}

input[type="password"] + label {
    pointer-events: none;

    * {
        pointer-events: all;
    }
}

textarea + label {
    pointer-events: none;

    * {
        pointer-events: all;
    }
}

.circle { 
   width: 140px;
   height: 140px;
   background: red; 
   -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 70px;
}

.debt > .btn-large {
    width: 200px;
    height: 200px;
    font-size: 40px;
    line-height: 200px;
}
