 <footer class="page-footer black">
  <div class="footer-copyright">
    <div class="container">
     <div class="row">
        <div class="col m6 s5 offset-s4">
          © 2020 GYMAPP
        </div>
        <div class="col m4 offset-m2 s10 offset-s1">
          <div class="right">Desenvolvido por:  <a class="grey-text text-lighten-4" href="https://www.instagram.com/mersonfreitas"> Emerson Freitas</a> </div>
        </div>
      </div>
    </div>
  </div>
</footer>